.escolhas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.escolhas-container h3 {
    margin-bottom: 2rem;
}

.escolhas-container .MuiTextField-root {
    width: 90%;
    max-width: 200px;
}