.resultados-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
    width: 100%;
    min-height: 100vh;
}

.resultados-container h1 {
    margin-bottom: 1rem;
}

.resultados-container > p {
    margin-bottom: 2rem;
    font-size: 1.20rem;
}

.resultados-container .result-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 2rem 0;
}

.resultados-container .result-item > div {
    width: 45%;
}

.resultados-container .result-item .subjects {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 45%;
}

.resultados-container .result-item .subjects * {
    text-align: center;
}

.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}